/*vaviables*/

:root {
    --basic-font: 'Mulish';
    --secondary-font: 'Inter';
    --third-font: 'Playfair Display';

    --primary-color: #FB8F1D;
    --primary-hover-color:#f99934;
    --header-color: #B8BECD;
    --title-color: #000000;
    --text-color:#7D7987;
    --quote-color: #000000;
    --footer-color: #848484;
}

/* base styles*/ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1340px;
    margin: 0 auto;
   padding: 0 60px;
}

/*typography*/

h1, .h1{
    margin-bottom: 71px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;    
}

h2, .h2{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

h3, .h3{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    color: #202336;
}

h4, .h4{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
}

p{
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;    
}

.story{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #7D7987;
}

figcaption{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #042521;
}

figcaption span{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #80918e;}

blockquote, q{
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

cite{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    font-style: normal;
    color: #000000;
}

cite span{
    font-weight: 400;
    font-size: 18px;
    color: #000000d9;
}


/*components*/

button, .button, input[type=button], input[type=submit]{
    display: inline-block;
    min-width: 164px;
    padding: 0 38px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    background: #FB8F1D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 46px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover, .button:hover, input[type=button]:hover, input[type=submit]:hover{
    border-color: #f99934;
    background-color:#f99934;
    color: #FFFFFF;
}

button.transparent, .button.transparent, input[type=button].transparent, input[type=submit].transparent{
    background:transparent;
    color: #FB8F1D;
}

button.transparent:hover, .button.transparent:hover, input[type=button].transparent:hover, input[type=submit].transparent:hover{
    background-color: #FB8F1D;
    color: #FFFFFF;
}

a {
    position: relative;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    text-decoration: none;
    color: #FB8F1D;
}

a:hover {
    color: #c26d13;
}

a.view-all {
    font-size: 17px;
    line-height: 60px;
}

a.view-all::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 6px;
    height: 100%;
    background-image: url(../img/arrow-a.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: translateX(100%);
    padding-right: 17px;
}

a.view-all:hover::after{
   padding-right: 15px;
}

a:visited {
    color: #db7a13;
}

/*form*/

fieldset{
    display: flex;
    margin-bottom: 36px;
    border: 0;
}

div.select-wrapper{
    position: relative;
    margin-right: 30px;
}

div.select-wrapper::after{
    content: '';
    position: absolute;
    display: block;
    top: 4px;
    right: 29px;
    background-image: url(../img/arrow-select.svg);
    width: 10px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    pointer-events: none;
}

select{
    width: 220px;
    min-width: 60px;
    padding: 0 20px 0 31px ;
    border: 1px solid #AFB0B9;
    border-radius: 6px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    color: #4A4C53;
    appearance: none;     
}


/*header*/

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 43px 0;
    background-color: white;
    z-index: 1;
}

nav{
    display: flex;
    align-items: center;
}

.menu, .buttons{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li a{
    padding: 6px 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #B8BECD;
}

.menu li a:hover{
    color: #80848f;
}

.menu li a.active{
    font-weight: 500;
    color: #202336;
}

.buttons li button {
    min-width: 132px;
    margin-left: 18px;
    padding: 0 36px;
    font-weight: 500;
    font-size: 15px;
    line-height: 42px;
}


/*form and image*/
form{
    margin-top: 34px;
    margin-bottom: 14px;
}

.form-and-image{
    position: relative;
    padding-top: 167px;
    padding-bottom: 143px;
}

.form-and-image .h3{
    position: relative;
    margin-bottom: 48px;
    padding-bottom: 23px;
    font-size: 22px;
}

.form-and-image .h3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 32px;
    height: 2px;
    background-color: #202336; 
}

.form-and-image .main-picture{
    padding-left: 117px;
}

.form-and-image .circle{
    position: absolute;
    top: 50%;
    left: -50px;
    width: 26px;
    height: auto;
}

.form-and-image .plus{
    position: absolute;
    top: 54px;
    left: 527px;
    width: auto;
    height: 20px;
    transform: rotate(-8deg);
}

.form-and-image .mini-circle{
    position: absolute;
    left: 45%;
    bottom: 17px;
    width: 20px;
    height: auto;
}

.explore {
    margin-top: 17px;
    min-width: 179px;
}
.text-and-form-wrapp .section-container{
    margin-left: 60px;
}
        

/*text and image*/

.text-and-image{
    position: relative;
    padding: 137px 0;
}

.text-and-image .main-picture{
    margin-left: -51px;
    margin-top: 7px;
}
.text-wrapper {
    max-width: 436px;
    margin-right: 72px;
    margin-bottom: 8px;
}

.text-wrapper h2{
    margin-bottom: 20px;
}

.text-wrapper .button{
    margin-top: 39px;
}

.text-and-image .plus {
    position: absolute;
    top: -7px;
    left: 52%;
    width: auto;
    height: 20px;
}

.text-and-image .mini-circle {
    position: absolute;
    bottom: 152px;
    left: 82%;
    width: 20px;
    height: auto;
}


/*featured destination*/

.featured-destination{
    margin-bottom: 55px;
}

.featured-destination .section-container{
    flex-direction: column;
    width: 1220px;
    padding-top: 155px;
    padding-bottom: 34px;
}

.featured-destination .title-section{
    display: flex;
}

.title-section h2{
    width: 610px;
    margin-left: -16px;
}

.title-section a.view-all{
    margin-left: 432px;
}

.destination {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    margin-top: 46px;
}

.destination li{
    margin: 0 13px;
}

.destination img{
    position: relative;
    border-radius: 8px;
}

.destination figcaption{
    position: absolute;
    display: block;
    bottom: 4px;
    width: 120px;
    height: 56px;
    padding-top: 11px;
    border-radius: 0px 6px 0px 0px;
    background-color: #FFFFFF;
    z-index: 1;
}

.featured-destination .plus{
    position: absolute;
    width: 20px;
    height: auto;
    bottom: 156px;
    left: -67px;
}

.featured-destination .mini-circle-top{
    position: absolute;
    width: 20px;
    height: auto;
    top: 125px;
    right: 221px;
}

.featured-destination .mini-circle{
    position: absolute;
    width: 20px;
    height: auto;
    bottom: -25px;
    left: 45%;
}


/*text and image reverse*/

.text-and-image.reverse .section-container{
    position: relative;
    flex-direction: row-reverse; 
}

.text-and-image.reverse .main-picture {
    margin-right: 41px;
}

.text-and-image.reverse .text-wrapper{
    margin-top: 73px;
    margin-left: 49px; 
}

.text-and-image.reverse .mini-circle {
    position: absolute;
    top: 92px;
    left: 154px;
    width: 20px;
    height: auto;
}

.text-and-image.reverse .plus {
    position: absolute;
    top: 45px;
    left: 97%;
    width: auto;
    height: 16px;
}  

.text-and-image.reverse .plus-second {
    position: absolute;
    width: auto;
    height: 20px;
    left: 530px;
    bottom: 100px;
    transform: rotate(13deg);
}
