/*vaviables*/

:root {
    --basic-font: 'Mulish';
    --secondary-font: 'Inter';
    --third-font: 'Playfair Display';

    --primary-color: #FB8F1D;
    --primary-hover-color:#f99934;
    --header-color: #B8BECD;
    --title-color: #000000;
    --text-color:#7D7987;
    --quote-color: #000000;
    --footer-color: #848484;
    --fon-color: #FFFFFF;
}

/* base styles*/ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 60px;
}

/*typography*/

h1, .h1{
    margin-bottom: 71px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;    
}

h2, .h2{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

h3, .h3{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    color: #202336;
}

h4, .h4{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
}

p{
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;    
}

.story{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #7D7987;
}

figcaption{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #042521;
}

figcaption span{
    display: block;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #80918e;}

blockquote, q{
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

cite{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    line-height: 38px;
    font-style: normal;
    color: #000000;
}

cite span{
    font-weight: 400;
    font-size: 18px;
    color: #000000d9;
}


/*components*/

button, .button, input[type=button], input[type=submit]{
    display: inline-block;
    min-width: 164px;
    padding: 0 38px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    background-color: #FB8F1D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 46px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition-duration: 0.3s;
}

button:hover, .button:hover, input[type=button]:hover, input[type=submit]:hover{
    border-color: #f4a654;
    background-color:#f4a654;
    color: #FFFFFF;
    transition-duration: 0.3s;
}

button.transparent, .button.transparent, input[type=button].transparent, input[type=submit].transparent{
    background:transparent;
    color: #FB8F1D;
}

button.transparent:hover, .button.transparent:hover, input[type=button].transparent:hover, input[type=submit].transparent:hover{
    background-color: #FB8F1D;
    color: #FFFFFF;
}

a {
    position: relative;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    text-decoration: none;
    color: #FB8F1D;
}

a:hover {
    color: #c26d13;
}

a.view-all {
    font-size: 17px;
    line-height: 60px;
    
}

.view-all svg{
    transform: translateX(100%);
    transition-duration: 0,5s;
}

.view-all path{
    stroke:#FB8F1D;
}

.view-all:hover svg path{
    stroke:#c26d13;
    color: #c26d13;
}

.view-all:hover svg{
    transform: translateX(200%);
    transition-duration: 0,5s;
}

a:visited {
    color: #db7a13;
}

.slick-arrow {
    width: 9px;
    min-width: 0;
    height: 9px;
    padding: 18px;
    border: 2px solid #000000;
    border-radius: 50%;
    background-image: url(../img/arrow-button.svg);
    background-color: var(--fon-color);
    background-position: 50%;
    background-repeat: no-repeat;
    font-size: 0;
    z-index: 1;
}

.slick-arrow:hover {
    background-color: var(--fon-color);
    border-color: #000000;
}


/*form*/

fieldset{
    display: flex;
    margin-bottom: 36px;
    border: 0;
}

div.select-wrapper{
    position: relative;
    margin-right: 30px;
}

div.select-wrapper::after{
    content: '';
    position: absolute;
    display: block;
    top: 4px;
    right: 29px;
    background-image: url(../img/arrow-select.svg);
    width: 10px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    pointer-events: none;
}

select{
    width: 220px;
    min-width: 60px;
    padding: 0 20px 0 31px ;
    border: 1px solid #AFB0B9;
    border-radius: 6px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    color: #4A4C53;
    appearance: none;     
}


/*header*/

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 43px 0;
    background-color: white;
    z-index: 2;
}

nav{
    display: flex;
    align-items: center;
}

.menu, .buttons{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li a{
    padding: 6px 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #B8BECD;
}

.menu li a:hover{
    color: #80848f;
}

.menu li a.active{
    font-weight: 500;
    color: #202336;
}

.buttons li button {
    min-width: 132px;
    margin-left: 18px;
    padding: 0 36px;
    font-weight: 500;
    font-size: 15px;
    line-height: 42px;
}


/*form and image*/
form{
    margin-top: 34px;
    margin-bottom: 14px;
}

.form-and-image{
    position: relative;
    padding-top: 167px;
    padding-bottom: 143px;
}

.form-and-image .h3{
    position: relative;
    margin-bottom: 48px;
    padding-bottom: 23px;
    font-size: 22px;
}

.form-and-image .h3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 32px;
    height: 2px;
    background-color: #202336; 
}

.form-and-image .main-picture{
    padding-left: 117px;
}

.explore {
    margin-top: 17px;
    min-width: 179px;
}

.text-and-form-wrapp .section-container {
    margin-left: 60px;
}

.form-and-image .circle{
    position: absolute;
    top: 50%;
    left: -50px;
    width: 26px;
    height: auto;
    
    animation-name: circle;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-direction: alternate;
}

@keyframes circle {
    0% {
        width: 26px;
    }

    100% {
        width: 30px;
    }
}

.form-and-image .plus{
    position: absolute;
    top: 54px;
    left: 527px;
    width: auto;
    height: 20px;
    transform: rotate(-8deg);

    animation-name: plus;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-direction: alternate;
}

@keyframes plus{
    0% {
        height: 20px;
        transform: rotate(-8deg);
    }

    100% {
        height: 24px;
        transform: rotate(-25deg);
    }
}

.form-and-image .mini-circle{
    position: absolute;
    left: 45%;
    bottom: 17px;
    width: 20px;
    height: auto;

    animation-name: mini-circle;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-direction: alternate;
}

@keyframes mini-circle{
    0%{
        width: 20px;
    }

    100%{
        width: 24px;
    }
}
        

/*text and image*/

.text-and-image{
    position: relative;
    padding: 137px 0;
}

.text-and-image .main-picture{
    margin-left: -51px;
    margin-top: 7px;
}
.text-wrapper {
    max-width: 436px;
    margin-right: 72px;
    margin-bottom: 8px;
}

.text-wrapper h2{
    margin-bottom: 20px;
}

.text-wrapper .button{
    margin-top: 39px;
}

.text-and-image .plus {
    position: absolute;
    top: -7px;
    left: 52%;
    width: auto;
    height: 20px;
}

.text-and-image .mini-circle {
    position: absolute;
    bottom: 152px;
    left: 82%;
    width: 20px;
    height: auto;
}


/*featured destination*/

.featured-destination{
    padding-top: 155px;
    padding-bottom: 115px;
}

.featured-destination .section-container{
    flex-direction: column;
    align-items: stretch;
}

.featured-destination .title-wrapper{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 55px;
}

.title-wrapper h2{
}

.title-wrapper a.view-all{
}

.destination {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
    list-style: none;
    justify-items: stretch;
    margin: 46px 49px 0 50px;
}
 
.destination figure{
    position: relative;
    width: 100%;
}

.destination img{
    position: relative;
    width:  100%;
    border-radius: 8px; 
    transition-duration: 0.3s;
}

.location:hover img {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 8px -5px 15px 1px rgba(0, 0, 0, 0.4);
}

.destination figcaption{
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 120px;
    padding-top: 11px;
    padding-right: 20px;
    border-radius: 0px 6px 0px 6px;
    background-color: #FFFFFF;
    transition-duration: 0.3s;
}

.location:hover figcaption {
    min-width: 140px;
    padding-left: 20px;
}

.featured-destination .plus{
    position: absolute;
    width: 20px;
    height: auto;
    bottom: 124px;
    left: -8px;
}

.featured-destination .mini-circle-top{
    position: absolute;
    width: 20px;
    height: auto;
    top: -31px;
    right: 281px;
}

.featured-destination .mini-circle{
    position: absolute;
    width: 20px;
    height: auto;
    bottom: -59px;
    left: 46%;
}


/*text and image reverse*/

.text-and-image.reverse{
    padding-top: 110px;
}

.text-and-image.reverse .section-container{
    position: relative;
    flex-direction: row-reverse; 
}

.text-and-image.reverse .main-picture {
    margin-right: 41px;
}

.text-and-image.reverse .text-wrapper{
    margin-top: 73px;
    margin-left: 49px; 
}

.text-and-image.reverse .mini-circle {
    position: absolute;
    top: 92px;
    left: 154px;
    width: 20px;
    height: auto;
}

.text-and-image.reverse .plus {
    position: absolute;
    top: 45px;
    left: 97%;
    width: auto;
    height: 16px;
}  

.text-and-image.reverse .plus-second {
    position: absolute;
    width: auto;
    height: 20px;
    left: 530px;
    bottom: 100px;
    transform: rotate(13deg);
}


/*testimonials*/

.testimonials{
    padding-top: 112px;
    padding-bottom: 142px;
}

.testimonials .section-container {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}

.testimonials h2{
    margin-left: 50px;
}

.testimonials .plus {
    position: absolute;
    bottom: -13px;
    right: 577px;
}

.testimonials .big-circle {
    position: absolute;
    top: 93px;
    right: 194px;
    z-index: -1;
}

.testimonials .mini-circle {
    position: absolute;
    width: 22px;
    top: 298px;
    left: -35px;
}

.testimonials-slider{
    position: relative;
    max-width: 100%;
}

.slick-initialized .slick-slide.slide{
    display: flex;
    justify-content: space-between;
    margin-top: 59px;
    margin-right: 152px;
    margin-left: 49px;
}

.text-slider{
    position: relative;
    margin-top: 83px;
}

blockquote{
    margin-top: 30px;
    margin-right: 150px;
}

cite{
    display: block;
    margin-top: 40px;
    width: 200px;
}

.stars li{
    display: inline-grid;
    margin-right: 11px;
    list-style-type: none;
}

.img-slider {
    position: relative;
}

.img-slider::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    display: block;
    width: 132px;
    height: 60px;
    border-radius: 16px 0px 0px 0px;
    background-color: var(--fon-color);
}

.slide .reviewer {
    width: 384px;
    height: 491px;
    border-radius: 14px;
    object-fit: cover;
    object-position: top;
}
   
.slick-prev {
    position: absolute;
    display: block;
    transform: rotate(180deg);
    bottom: 0;
    right: 214px;
}

.slick-prev:hover {
    transform: rotate(180deg);
}

.slick-next{
    position: absolute;
    bottom: 0;
    right: 152px;
}

.slick-disabled{
    opacity: 0.2;
}

/* Trending stories */

.trending-stories{
    padding-top: 143px;
    padding-bottom: 271px;
}

.trending-stories .section-container{
    position: relative;
    flex-direction: column;
    align-items: stretch;
}

.trending-stories .title-wrapper{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 55px;
    margin-bottom: 46px;
}

.stories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 26px;
    list-style: none;
    justify-items: stretch;
    margin: 0 50px;
}
 
.img-story{
    display: block;
    border-radius: 8px 8px 0 0;
}

.img-story img{
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    object-position: top;
    height: 231px;
    width: 100%;
}

.story-wrapper{
    position: relative;
    display: block;
    background-color: var(--fon-color);
    margin-top: 10px;
    border-radius: 0 0 8px 8px;
}

.story-wrapper .story {
    background-color: var(--fon-color);
    margin-top: 13px;
    margin-bottom: 23px;
} 

.stories li {
    display: block;
    border-radius:  8px;
    transition-duration: 0.3s;
}

.stories li:hover {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 8px -5px 15px 1px rgba(0, 0, 0, 0.4);
}

.trending-stories .plus{
    position: absolute;
    width: 20px;
    top: -57px;
    left: 515px;
}
        
.trending-stories .circle {
    position: absolute;
    width: 20px;
    top: 368px;
    left: 13px;
}

.trending-stories .circle-2 {
    position: absolute;
    width: 20px;
    bottom: -75px;
    right: 470px;
}


/*footer*/

footer{
    padding-top: 70px;
    padding-bottom: 33px;
    background-color: #F9F9FB;

}

footer .section-container {
    flex-direction: column;
    align-items: stretch;
    font-family: var(--basic-font);
    color:var(--footer-color);
}

footer ul {
    list-style: none;
    
}

.footer-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 77px;
}

.footer-wrapper::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #C4C4C4;
}

.footer-wrapper nav{
    display: flex;
    margin-right: -80px;
}
.footer-wrapper ul{
    min-width: 240px;
    margin-left: 43px;
}

.footer-wrapper li{
    transition: 0.2s ease-in-out;
}

.footer-wrapper li:hover {
opacity: 0.5;
transition: 0.2s ease-in-out;}

.logo-text {
    max-width: 358px;
    margin-top: 8px;
}

.logo-text p{
    margin-top: 17px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 28px;
}

.logo-text .copyright{
    font-size: 17px;
    margin-top: 53px;
}

.footer-wrapper a{
    color: var(--footer-color);
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
}

.footer-wrapper h4{
    font-family: var(--basic-font);
    line-height: 60px;
}

.social-networks{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 64px;
}

.social-networks li{
    margin: 0 17px;
    transition: 0.2s ease-in-out;
}

.social-networks li:hover{
    opacity: 0.5;
    transition: 0.2s ease-in-out;
}
